body {
background-color:lightblue;
    

}

table {
color:white;
text-align:left;
}

td {
padding:2% 4%;
margin-left:1%;
    text-align: center
}

.head {
background-color: #3E4651
;
}
.lightgray {
background-color: lightgray;
}

h1 {
margin-bottom:0;
text-align: left;
font-weight:100;
font-size: 40px;
color: white;
}


